parameters:
  autoload_files:
    - ../vendor/autoload.php
  level: max
  paths:
    - ../src
  ignoreErrors:
    - '#^Call to method addRepository\(\) on an unknown class Composer\\Repository\\RepositorySet\.$#'
    - '#^Parameter \#1 \$pool of class Composer\\Package\\Version\\VersionSelector constructor expects Composer\\DependencyResolver\\Pool, Composer\\DependencyResolver\\Pool\|Composer\\Repository\\RepositorySet given\.$#'

includes:
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon
