parameters:
  bootstrapFiles:
    - ../vendor/autoload.php
  level: max
  paths:
    - ../src
  ignoreErrors:
    - '#Composer\\Repository\\RepositorySet#'
  reportMaybesInPropertyPhpDocTypes: false

includes:
  - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon
