parameters:
  autoload_files:
    - ../vendor/autoload.php
  level: max
  paths:
    - ../src
  ignoreErrors:
    - '#Composer\\Repository\\RepositorySet#'
    - '#^Class Composer\\Package\\Version\\VersionSelector constructor invoked with 2 parameters, 1 required\.$#'

includes:
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon
